@media only screen and (max-width:1200px) {
    /*------粉絲團.追蹤我們------*/
    .header {
        width: 1000px;
        margin: auto;
    }
    /*------logo------*/
    .logo {
        margin: auto;
        display: inline;
        float: right;
        width: 90%;
    }

    /*------TopMenu------*/
    .topmenu {
        width: 300px;
        float: right;
        margin-right: 0px;
    }

    /*------三塊區塊------*/
    .content {
        clear: both;
        margin-top: 30px;
    }


}

@media only screen and (max-width:1023px) {

    /*------粉絲團.追蹤我們------*/
    .header {
        width: 900px;
        margin: auto;
    }

    /*------logo------*/
    .logo {
        margin-left: 70px;
        display: inline;
    }

    /*------TopMenu------*/
    .topmenu {
        width: 300px;
        float: right;
        margin-right: 0px;
    }

    /*------大張照片------*/
    .topcontent {
        margin-top: 10px;
        width: 900px;
        height: 180px;
        
    }
    .topcontent img {
        width: 100%;
    }

    /*------三塊區塊------*/
    .content {
        clear: both;
        margin-top: 150px;
    }
    
    /*------報名------*/

    .register {
        width: 95%;
        margin: auto;
        height: 400px;
    }
    
    #regcon {
        width: 40%;
        margin-left: 30px;
        height: 80%px;
    }
     .register .data{
        width: 95%;
        margin-top: 8px;
    }
    .register #reg{
        width: 400px;
        height: 150px;
        margin-left: 15px;
    }

    .register #send{
        margin-bottom: 50px;
        margin-top: 40px;
        margin-right: 20px;;
        
    }
    
    /*------footer------*/

    .footer {
        width:900px;
        height: 100px;
        margin-top: 20px;
    }

    .footer ul li {
        float: right;
        margin-top: 0px;
    }
    
}
@media only screen and (max-width:767px) {

    /*------粉絲團.追蹤我們------*/
    .header {
        width: 600px;
        margin: auto;
    }
    /*------logo------*/
    .logo {
        margin-left: 70px;
        display: inline;
    }

    /*------TopMenu------*/
    .topmenu {
        width:45%;
        float: right;
        margin-right: 0px;
    }

    /*------大張照片------*/
    .topcontent {
        margin-top: 10px;
        width: 600px;
        height: 180px;

    }
    .topcontent img {
        width: 100%;
    }
    /*------三塊區塊------*/
    .content {
        width: 100%;
        clear: both;
        margin-top: 30px;
    }
    .content li {
        width: 50%;
        margin-left: 200px;
    }
    .content img {
      padding-left: 50px; /*為什麼style.css(166)設定的置中失效了?*/
    }
    

    /*------表格------*/

    .form {
        width: 100%;
        height: 100%;
        clear: both;
        margin: auto;
        margin-top: 25px;
        margin-bottom: 25px;
        display: inline-block;
    }

    .form table{
        margin:auto;
        font-size: 15px;
        width:700px;
    }

    .form table td{
        padding: 10px;
    }

    .form table th{
        padding-left: 8px;
        padding-right: 8px;
    }

    /*------報名------*/

    .register {
        width: 95%;
        margin: auto;
        height: 400px;
    }

    #regcon {
        width: 90%;
        margin-left: 30px;
        height: 80px;
    }
    .register .data{
        width: 80%;
        margin-top: 8px;
    }
    .register #reg{
        width: 90%;
        
        margin-left: 15px;
    }

    .register #send{
        margin-top: -10px;
        margin-right: -10px;
    }


    /*------footer------*/

    .footer {
        width:600px;
        height: 100px;
        margin-top: 30px;
    }

    .footer ul li {
        float: right;
        margin-top: 0px;
    }

}

@media only screen and (max-width:480px) { 

    /*------粉絲團.追蹤我們------*/
    .header {
        margin: auto;
        width: 450px;
    }

    /*------logo------*/
    .logo {
        width: 450px;
        float: left;
        margin: auto;
    }
    
    /*------TopMenu------*/
    .topmenu {
        width: 220px;
        float: right;
        margin-right: 0px;
    }
    
    /*------大張圖片------*/
    .topcontent { 
        margin: auto;
        width: 450px;
    }
    .topcontent img {
        width: 100%;

    }

    /*------content------*/
    
    .content {
        width: 100%;
        clear: both;
    }
    
    .content li {
        width: 70%;
        height: 300px;
        margin-left: 50px;
    }
    
    

     /*------表格------*/

    .form {
        width: 100%;
        height: 100%;
        clear: both;
        margin: auto;
        margin-top: 25px;
        margin-bottom: 25px;
        display: inline-block;
    }

    .form table{
        margin:auto;
        font-size: 15px;
        width:400px;
    }

    .form table td{
        padding: 10px;
    }

    .form table th{
        padding-left: 5px;
        padding-right: 5px;
        font-size: 13px
    }

    /*------報名------*/

    .register {
        width: 95%;
        clear: both;
        height: 400px;
    }

    #regcon {
        width: 90%;
        height: 100px;
        margin-left: 20px;
    }
    .register .data{
        width: 200px;
        margin-top: 4px;
    }
    #reg {
        display: inline-block;
    }
    .register #send{
        margin-left: 30px;
        margin-top: -5%;
    }

     /*------footer------*/

    .footer {
        width:450px;
        height: 100px;
        margin-top: 20px;
    }

    .footer ul li {
        float: right;
        margin-top: 0px;

    }



}
